
*{
  box-sizing: border-box;
  font-family:'Poppins','sans-serif';
}
body {
  width: 100%;
  max-width: 100%;
  background-color: white;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Change the color of the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #ffae00; /* Change this to your desired color */
    border-radius: 6px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #ccc; 
  }
  ::-webkit-scrollbar-corner {
    background-color: #f0f0f0; /* Change the color of the scrollbar corner */
  }
 
  
  
  
  
  