.categories_cantainer{
    background-color: aqua;
    height: 80px;
}
.input{
    width: 40%;
    margin-top: 15px;
    margin-right: 15px;
}
@media screen and (max-width: 576px) {
    .input{
        width: 25%;
        margin-right:5px;
    }
    .btn{
        width:50%;
    }
}